%poppins-400 {
  font: {
    family: Poppins, sans-serif;
    weight: 400;
  }
}

%poppins-600 {
  font: {
    family: Poppins, sans-serif;
    weight: 600;
  }
}

%opensans-400 {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 400;
  }
}
